<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: 'Roboto', sans-serif;
        }

        .div1 {
            background-color: #f8f5f8;
            height: auto;
            width: auto;
            padding: 50px;
            margin-top: 100px;
            margin-left: 300px;
            margin-right: 300px;
            text-align: center; /* Center the content horizontally */
            }

        .div1 h1{
            color: #FF0000;
            font-family: 'Roboto', sans-serif;
        }

        .div1 img {
            height: 100px;
            display: block; /* Ensure the image is a block element */
            margin: 0 auto; /* Center the image horizontally */
        }

        /* Mobile Responsive Styles */
        @media screen and (max-width: 425px) {
            .div1 {
            padding: 30px;
            margin-left: 20px;
            margin-right: 20px;
            }

            .div1 h2{
                font-size: 20px;
            }
        }

        @media screen and (max-width: 768px) {
            .div1 {
            padding: 30px;
            margin-left: 20px;
            margin-right: 20px;
            }

            .div1 h1{
                text-wrap: wrap;
            }
        }

        @media screen and (min-width: 805px) {
            .div1 {
            padding: 30px;
            margin-left: 20px;
            margin-right: 20px;
            }
        }

    </style>
</head>
<body>
    <div class="div1">
        <img src="https://res.cloudinary.com/dlkuyfwzu/image/upload/v1701961916/signLogo_m4hh5p.png" alt="">
        <h1>Eidcarosse Ch</h1>
        <h2>{{text}}</h2>
        <h3>{{code}}</h3>
    </div>
</body>
</html>